.card {
    margin: 10px 0;
}

.events h2{
    padding: 2rem;
    font-family: 'Pacifico', cursive;
    color: #5d5ddf;
}

.events{
    margin-bottom: 5rem;
}

.btn-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-date h3{
    color: rgb(91, 91, 241);
}